# .gitignore

# Ignore Altium History folders
/Altium/Solens/History/
/Altium/Integrated_Library/History/

# Ignore Altium Previews
/Altium/Solens/__Previews/
Altium/Solens/Project Outputs for Solens/Gerbers/NC Drill Files/__Previews/
